s3.access_key_id=user123
s3.secret_key=hLEM14EdlqWnqP9JN+vFvxBGCd2n/6IJnNMPZ2bi
s3.endpoint=https://object.ecstestdrive.com
s3.region=us-east-1

# only set this if the S3 user is an IAM user
sts.endpoint=https://portal.ecstestdrive.com/sts

atmos.uid=ace2d3da351242bcb095eb841ad4f371/test
atmos.secret_key=Hkay7XoENUQ3VCMCaaViSOtbpDs=
atmos.endpoints=http://10.6.143.97,http://10.6.143.98,http://10.6.143.99,http://10.6.143.100

atmos.uid2=9ff593e2d1fc4e10a6e430ca666d29f4/stu
atmos.secret_key2=/QcP35pevQh7EOHKs2XjzCaRrt7HokZhlpdGKbHs
atmos.endpoints2=http://10.1.83.51:9022,http://10.1.83.52:9022,http://10.1.83.53:9022,http://10.1.83.54:9022
atmos.is_ecs2=true # 2nd Atmos is for testing migrations to ECS

cas.connect=hpp://10.6.143.97,10.6.143.98?name=ace2d3da351242bcb095eb841ad4f371:test,secret=Hkay7XoENUQ3VCMCaaViSOtbpDs=

cas.connect2=hpp://10.6.143.90,10.6.143.91?name=97e84ef9d89442bd8ccc12aedfb3c39b:test,secret=2oDmPxhkoRlBzSo1w0OXJXKsET4=

nfs.export=192.168.3.132:/tmp/nfs-share

#http.proxyUri=http://192.168.21.128:8888
