<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
		  <param name="conversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%t] %C{1}: %m%n"/>
		</layout>
	</appender>
 
	<logger name="com.emc.atmos.sync.util.TimingUtil">
 		<level value="INFO"></level>
 	</logger>

	<!-- These are commented out so they fall under the rootLogger and can now be adjusted
	     by the LoggingPlugin with -quiet, -verbose, -silent, -debug. Uncomment if you want finer control -->
	<!--
	<logger name="com.emc.atmos.sync">
 		<level value="DEBUG"></level>
 	</logger>
 	<logger name="com.emc.atmos.api">
 		<level value="DEBUG"></level>
 	</logger>
 	-->
 	
 	<!-- # Turn on INFO logging in com.amazonaws.request to log
         # a summary of requests/responses with AWS request IDs -->
    <!--
	<logger name="com.amazonaws.request">
		<level value="INFO"></level>
	</logger>
	-->

	<root>
		<priority value="WARN" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</log4j:configuration>
