##################################
# FPLogState Configuration File
##################################
FP_LOGPATH=/var/log/ecs-sync/cas-sdk.log
FP_LOGLEVEL=2
FP_LOGFORMAT=TAB
FP_LOGFILTER=ALL
FP_LOGKEEP=APPEND
FP_LOG_DISABLE_CALLBACK=TRUE
FP_LOG_STATE_POLL_INTERVAL=1
FP_LOG_MAX_SIZE=10240
FP_LOG_MAX_OVERFLOWS=1
